name: Build

on:
  pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dotnet-version: [ '8.x.x' ]
    steps:
      -
        uses: actions/checkout@v6
      -
        name: Setup .NET Core SDK ${{ matrix.dotnet-version }}
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: ${{ matrix.dotnet-version }}
      - 
        name: Install dependencies
        run: dotnet restore
      -
        name: Build
        run: dotnet build --configuration Release --no-restore
